.navigation
 {height:auto;
    background-color:black;
    width: 100%;
}
.navbar-toggler{
    background-color: #fff;
}
.navbar .nav-item { 
    color: white;
    font-size: 20px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight: bold;
    /* padding: 0 16px; */
    /* color: inherit; */

    position: relative;
     /* margin-right: 20px; */
    border: none;

   
}
/* .nav-search{width:100%} */
.navbar-ul{
    display: flex;
    flex: wrap;

}
.dropdown-menu Link{text-decoration: none;}
.searchbar{
    height: 45px
}
.top_header_cart_count{
    background-color: red;
    border-radius:50%;
    font-size:20px;
    color:white;
}
.searchbox{
 margin: 10px 40px;
 width:280px;
}
@media only screen and (max-width: 600px) {
    
 .cartbtn{
    margin: 10px 20px;
   }
   .optionsbtn{
    margin: 10px 20px;
   }
}
@media only screen and (max-width: 1096px) {
    .searchbox{
        margin: 10px 40px;
        width:200px;
       }
}